In [2]:
#Import Libraries
import csv
import pandas as pd
from pathlib import Path

#Import CSV Data
budgetpath= Path(r"Resources\budget_data.csv")
budget_sheet= pd.read_csv(budgetpath)
budget_dataframe= pd.DataFrame(budget_sheet)

In [3]:
budget_dataframe

        Date  Profit/Losses
0   Jan-2010         867884
1   Feb-2010         984655
2   Mar-2010         322013
3   Apr-2010         -69417
4   May-2010         310503
..       ...            ...
81  Oct-2016         102685
82  Nov-2016         795914
83  Dec-2016          60988
84  Jan-2017         138230
85  Feb-2017         671099

[86 rows x 2 columns]

In [110]:
#Financial Calculations

Month_Counter=len(budget_dataframe) #number of months represented

pl_sum=budget_dataframe['Profit/Losses'].sum() #total profit losses

budget_dataframe['previousMonthPL']=budget_dataframe['Profit/Losses'].shift(1, fill_value=0) #create new column to track the Previous Month PL

budget_dataframe['Diff']=budget_dataframe['Profit/Losses']-budget_dataframe['previousMonthPL'] #calculate the PL differences month to month

accuratepl=budget_dataframe.iloc[1:,3] #pl minus the first month difference

AveragePL= sum(accuratepl)/len(accuratepl) #find the average PL over the whole period

In [113]:
#pinpoint the greatest profit increase
for row in budget_dataframe.index:
    if budget_dataframe['Diff'][row]==max(accuratepl):
        MaxIncrease= budget_dataframe['Date'][row], budget_dataframe['Diff'][row]

In [114]:
#pinpoint the greatest profit loss
for row in budget_dataframe.index:
    if budget_dataframe['Diff'][row]==min(accuratepl):
        MaxDecrease= budget_dataframe['Date'][row], budget_dataframe['Diff'][row]

In [ ]:
#Financial Analysis Report

In [128]:
print("Financial Analysis")
print("Report by Oluwademilade Oyebanji")
print("--------------------")
print("")
print("")
print(f"Total Number of Months: {Month_Counter}")
print(f"PL Total: {pl_sum}")
print(f"Average PL Change: {AveragePL}")
print(f"Greatest Profit Increase: {MaxIncrease}")
print(f"Greatest Profit Loss: {MaxDecrease}")

Financial Analysis
Report by Oluwademilade Oyebanji
--------------------


Total Number of Months: 86
PL Total: 38382578
Average PL Change: -2315.1176470588234
Greatest Profit Increase: ('Feb-2012', 1926159)
Greatest Profit Loss: ('Sep-2013', -2196167)